
.aside .logo a::before {
    border-top: 4px solid #ffb400;
    border-left: 4px solid #ffb400;
}

.aside .logo a::after {
    border-right: 4px solid #ffb400;
    border-bottom: 4px solid #ffb400;
}

.contact .contact-info-item .icon .fas,
.blog .blog-item-inner .blog-info .blog-tags a,
.lightbox .lightbox-controls .prev-item #arrow,
.lightbox .lightbox-controls .next-item, #arrow,
.portfolio .portfolio-item .portfolio-info .icon .fas,
body.dark .portfolio .portfolio-filter button.active,
.portfolio .portfolio-filter button.active,
.service .service-item .service-item-inner .icon .fas,
.about .about-content .about-text h3 span,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active {
    color: #ffb400;
}

.blog .blog-item-inner .blog-img .blog-date,
.service .service-item .service-item-inner:hover .icon, 
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::after,
.section-title h2::before,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-link a {
    background-color:#ffb400;
}

.portfolio .portfolio-filter button.active {
    border-color: #ffb400;
}









